@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: #020817;
    --foreground: #f8fafc;
    --primary: #FF8C00;
    --primary-foreground: #0f172a;
    --muted: #64748b;
    --muted-foreground: #94a3b8;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #FF8C00;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
